<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小米商城</title>
    <link rel="stylesheet" type="text/css" href="__MIPATH__/css/mi.css">
    <link rel="stylesheet" type="text/css" href="__MIPATH__/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="__MIPATH__/lib/layui/css/layui.css">
    <link rel="shortcut icon" type="image/x-icon" href="__MIPATH__/image/index.ico">
    <script type="text/javascript" src="__MIPATH__/lib/layui/layui.js"></script>
</head>
<body>
<div class="box">
    <div class="header">
        <div class="header_content">
           <ul class="header_content_ul">
               <li><a href="#">小米商城</a> <span> | </span></li>
               <li><a href="#">MIUI</a> <span> | </span></li>
               <li><a href="#">IoT</a> <span>|</span></li>
               <li><a href="#">云服务</a> <span>|</span></li>
               <li><a href="#">开放平台</a> <span>|</span></li>
               <li><a href="#">金融</a> <span>|</span></li>
               <li><a href="#">优品</a> <span>|</span></li>
               <li><a href="#">企业团购</a> <span>|</span></li>
               <li><a href="#">协议规范</a></li>
           </ul>
           <ul class="header_content_ul1">

                <li><a href="#">登陆</a> <span> | </span></li>
                <li><a href="#">注册</a> <span> | </span></li>
                <li><a href="#">消息通知</a> <span> | </span></li>
                <li class="shop_card"><i class="layui-icon">&#xe698;</i> &nbsp;购物车 (0)
                    <div class="shop_cart_div">
                        购物车中还没有选购商品，请赶快选购吧!
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content_top">
        <div class="content">
            <div class="content_nav">
                <div class="content_nav_logo">
                    <img src="__MIPATH__/image/mi-logo.png" style="background: #FF6700;margin: 8px 0px;">
                    <div class="content_nav_home"></div>
                </div>
                <div class="content_nav_list">
                    <ul>
                        <li><a href="#">小米手机</a>
                            <div class="mi_phone">

                            </div>
                        </li>
                        <li><a href="#">Redmi红米</a></li>
                        <li><a href="#">电视</a></li>
                        <li><a href="#">笔记本</a></li>
                        <li><a href="#">家电</a></li>
                        <li><a href="#">路由器</a></li>
                        <li><a href="#">智能硬件</a></li>
                    </ul>
                </div>
                <div class="content_nav_form">
                    <input class="layui-input" type="text"  name="kws" value="">
                    <div class="content_nav_form_a">
                        <a>小米8</a>
                        <a>Redmi 30 pro</a>
                    </div>
                    <div class="button"><i class="layui-icon layui-icon-search"></i></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="content_menu">
                <div class="product_pic_menu">
                    <ul class="product_pic_menu_ul">
                        <li><a href="#">手机电话</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                                <div class="product_pic_menu_div1">
                                    <div  class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">电视机 盒子</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">
                                <div class="product_pic_menu_div1">
                                    <div  class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop4.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                    <div class="product_pic_menu_div1_row1">
                                        <div><img src="__MIPATH__/image/mi_shop1.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop2.png"><a href="#">小米8</a></div>
                                        <div><img src="__MIPATH__/image/mi_shop3.png"><a href="#">小米8</a></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">笔记本 显示器 平板</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">家电 插线板</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">出行 穿戴</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">智能 路由器</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">电源 配件</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">健康 儿童</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">耳机 音箱</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                        <li><a href="#">生活 箱包</a><i class="layui-icon">&#xe602;</i>
                            <div class="product_pic_menu_div">

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="product_pic_img"></div>

            </div>
            <div class="clear"></div>
            <div class="content_shop">
                <div class="content_shop1">
                    <img width="248px" height="170px" src="__MIPATH__/image/mi_shop2.jpg">
                </div>
                <div class="content_shop2">
                    <img src="__MIPATH__/image/mi_shop2.jpg">
                </div>
                <div class="content_shop3">
                    <img src="__MIPATH__/image/mi_shop3.jpg">
                </div>
                <div class="content_shop4">
                    <img src="__MIPATH__/image/mi_shop4.jpg">
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="product_list">
            小米闪购
        </div>
        <div class="product_shop">
            <div class="product_shop1">
                <div class="product_shop1_time">20:00场  </div>
                <i class="layui-icon" style="font-size: 45px; color: red;margin: 30px 0px;">&#xe756;</i>
                <div class="product_shop1_detail">
                    距离开始还有
                </div>
                <div class="product_shop1_clock">
                    <span class="hour">00</span>
                    <span class="maohao">:</span>
                    <span class="minute">00</span>
                    <span class="maohao">:</span>
                    <span class="second">00</span>
                </div>
            </div>
            <div class="product_shop2">
                <img src="__MIPATH__/image/product_shop1.jpg">
            </div>
            <div class="product_shop3">
                <img src="__MIPATH__/image/product_shop1.jpg">
            </div>
            <div class="product_shop4">
                <img src="__MIPATH__/image/product_shop1.jpg">
            </div>
            <div class="product_shop5">
                <img src="__MIPATH__/image/product_shop1.jpg">
            </div>
        </div>
        <div class="clear"></div>
        <div class="product_pic">
            <img src="__MIPATH__/image/product_pic1.jpg">
        </div>
    </div>
    <div class="content_bottom">
        <div class="content_bottom1">
            <div class="content_bottom1_list">手机</div>
            <div class="content_bottom1_shop">
                <div class="content_bottom1_shop1">
                    <img src="__MIPATH__/image/bottom_shop1.jpg">
                </div>
                <div class="content_bottom1_shop2">
                    <div class="shop2_top">
                        <div class="shop2_top1">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                        <div class="shop2_top2">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                        <div class="shop2_top3">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                        <div class="shop2_top4">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                    </div>
                    <div class="shop2_bottom">
                        <div class="shop2_bottom1">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                        <div class="shop2_bottom2">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                        <div class="shop2_bottom3">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                        <div class="shop2_bottom4">
                            <img src="__MIPATH__/image/shop_list.jpg">
                        </div>
                    </div>
                </div>

            </div>
            <div class="content_bottom1_pic">
                <img src="__MIPATH__/image/product_pic1.jpg">
            </div>
            <div class="clear"></div>
        </div>
        <div class="content_bottom_vido">
            <div class="content_bottom_vido_name">视频</div>
            <div class="content_bottom_vido_list">
                <div class="content_bottom_vido_list1"></div>
                <div class="content_bottom_vido_list2"></div>
                <div class="content_bottom_vido_list3"></div>
                <div class="content_bottom_vido_list4"></div>
            </div>
        </div>
    </div>
    <div class="footer_top">
        <div ></div>
    </div>
    <div class="footer_bottom"></div>

</div>
</body>
</html>