<!DOCTYPE html>

<html class="fly-html-layui fly-html-store">
{include file='public/header' /}
<body>
{include file='public/common' /}
<!--<div class="shop-temp">-->
<!--    <div class="temp-hot">-->
<!--        <div class="layui-row layui-col-space20">-->
<!--            <div class="layui-col-xs6 layui-col-md1 layui-col-md-offset1">-->
<!--                hello word hello wordhello wordhello wordhello wordhello-->
<!--                wordhello wordhello wordhello wordhello word-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="shop-temp" >

    <div class="temp-hot" >
        <div class="layui-container">
        <div class="layui-row layui-col-space20">

            <div class="layui-col-md2" style="margin-left: 20px; margin-top: -50px;border:10px ">
                <div class="store-list-box" style= "box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);">

            hello word hello word hello word hello word hello word hello word hello word hello word
            </div>
            </div>
            <div class="layui-col-md2" style="width:20px">
                <div class="shop-nav shop-index">
                <div class="shop-banner">
                    <div class="layui-container layui-hide-xs">
                        <div class="product-list">
                            <dl>
                                <dt><a href="cat/0/index.htm" target="_blank">模板分类</a></dt>
                                <dd><a href="cat/1/index.htm" target="_blank">后台管理</a></dd>
                                <dd><a href="cat/2/index.htm" target="_blank">商城购物</a></dd>
                                <dd><a href="cat/3/index.htm" target="_blank">社区论坛</a></dd>
                                <dd><a href="cat/4/index.htm" target="_blank">主页博客</a></dd>
                                <dd><a href="cat/5/index.htm" target="_blank">企业门户</a></dd>
                                <dd><a href="cat/6/index.htm" target="_blank">资讯头条</a></dd>
                                <dd><a href="cat/7/index.htm" target="_blank">其它模板</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>


</div>
{include file='public/footer' /}

<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '1400px' //设置容器宽度
            ,height: '460px' //设置容器宽度
            //,height: '100%'
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>