<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__INDEXPATH__/lib/layui/css/layui.css"  media="all">
</head>
<body>

<div class="layui-carousel" id="test1">
    <div carousel-item>
        <div style="background: #F2E6D6;display: block">
            <div class="layui-container">
                <a href="layuiHomeMall/index.htm" tppabs="https://fly.layui.com/store/layuiHomeMall/" target="_blank">
                    <img src="__INDEXPATH__/old/cdn.layui.com/upload/2018_11/168_1541579354090_82219.jpg" tppabs="https://cdn.layui.com/upload/2018_11/168_1541579354090_82219.jpg" alt="简约家居商城模板"></a>
            </div>
        </div>
        <div style="background: #E7E6EE">
            <div class="layui-container">
                <a href="layuiSimpleNews/index.htm" tppabs="https://fly.layui.com/store/layuiSimpleNews/" target="_blank">
                    <img src="__INDEXPATH__/old/cdn.layui.com/upload/2018_11/168_1541751659392_62620.jpg" tppabs="https://cdn.layui.com/upload/2018_11/168_1541751659392_62620.jpg" alt="极简新闻资讯模板"></a>
            </div>
        </div>
        <div style="background: #171717">
            <div class="layui-container">
                <a href="layuiQuietBlog/index.htm" tppabs="https://fly.layui.com/store/layuiQuietBlog/" target="_blank">
                    <img src="__INDEXPATH__/old/cdn.layui.com/upload/2018_11/168_1541578489374_99939.jpg" tppabs="https://cdn.layui.com/upload/2018_11/168_1541578489374_99939.jpg" alt="静谧风格个人博客模板"></a>
            </div>
        </div>
        <div style="background: #F5F5F5">
            <div class="layui-container">
                <a href="layuiCateCompany/index.htm" tppabs="https://fly.layui.com/store/layuiCateCompany/" target="_blank">
                    <img src="__INDEXPATH__/old/cdn.layui.com/upload/2018_11/168_1542012881618_47524.jpg" tppabs="https://cdn.layui.com/upload/2018_11/168_1542012881618_47524.jpg" alt="餐饮企业网站模板"></a>
            </div>
        </div>
        <div style="background: #E2DEF5">
            <div class="layui-container">
                <a href="layuiMaternalBabyMall/index.htm" tppabs="https://fly.layui.com/store/layuiMaternalBabyMall/" target="_blank">
                    <img src="__INDEXPATH__/old/cdn.layui.com/upload/2018_11/168_1542013154213_82579.jpg" tppabs="https://cdn.layui.com/upload/2018_11/168_1542013154213_82579.jpg" alt="母婴商城模板"></a>
            </div>
        </div>
        <div style="background: #040227">
            <div class="layui-container">
                <a href="layuiSimpleBlog/index.htm" tppabs="https://fly.layui.com/store/layuiSimpleBlog/" target="_blank">
                    <img src="__INDEXPATH__/old/cdn.layui.com/upload/2018_11/168_1542012996419_29784.jpg" tppabs="https://cdn.layui.com/upload/2018_11/168_1542012996419_29784.jpg" alt="极简博客模板"></a>
            </div>
        </div>

    </div>
</div>

<!-- 条目中可以是任意内容，如：<img src=""> -->

<script src="__INDEXPATH__/lib/layui/layui.js"></script>
<script>
    layui.use('carousel', function(){
        // var carousel = layui.carousel;
        // //建造实例
        // carousel.render({
        //     elem: '#test1'
        //     ,width: '100%' //设置容器宽度
        //     //,height: '460px' //设置容器宽度
        //     //,height: '100%'
        //     ,arrow: 'always' //始终显示箭头
        //     //,anim: 'updown' //切换动画方式
        // });
    });
</script>
</body>
</html>