<div class="layui-header header header-store" style="background-color: #24262F;">
    <div class="layui-container">
        <a class="logo" href="https://www.layui.com/">
            <img src="__INDEXPATH__/images/layui/logo.png" alt="layui"></a>
        <div class="layui-form component" lay-filter="LAY-site-header-component"></div>
        <ul class="layui-nav">
            <li class="layui-nav-item layui-hide-xs">
                <a href="https://www.layui.com/doc/">文档</a></li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="">示例</a></li>
            <li class="layui-nav-item layui-hide-xs ">
                <a href="">扩展</a></li>
            <li class="layui-nav-item layui-hide-xs layui-this">
                <a href="index.htm">模板</a></li>
            <li class="layui-nav-item layui-hide-xs">
                <a href="" target="_blank">社区</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">周边</a>
                <dl class="layui-nav-child">
                    <dd class="layui-hide-sm layui-show-xs" lay-unselect>
                        <a href="index.htm">模板市场</a></dd>
                    <dd class="layui-hide-sm layui-show-xs" lay-unselect>
                        <a href="">扩展组件</a></dd>
                    <dd class="layui-hide-sm layui-show-xs" lay-unselect>
                        <a href="https://fly.layui.com/" target="_blank">社区交流</a>
                        <hr></dd>
                    <dd lay-unselect>
                        <a href="https://www.layui.com/admin/" target="_blank">后台模板
                            <span class="layui-badge-dot"></span></a>
                    </dd>
                    <dd lay-unselect>
                        <a href="https://www.layui.com/layim/" target="_blank">即时聊天</a>
                        <hr></dd>
                    <dd lay-unselect>
                        <a href="https://www.layui.com/alone.html" target="_blank" lay-unselect>独立组件</a></dd>
                    <dd lay-unselect>
                        <a href="https://fly.layui.com/jie/24209/" target="_blank">Axure 组件</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="iconfont icon-touxiang" href="https://fly.layui.com/user/login/"></a>
            </li>
        </ul>
    </div>
</div>