<!DOCTYPE html>
<!--<head>-->
<!--    <script src="__INDEXPATH__/lib/layui/layui.js"></script>-->
<!--    <link rel="stylesheet" href="__INDEXPATH__/lib/layui/css/layui.css"></head>-->

<div class="fly-footer">
<div class="footer-contain">
    <div class="fly-contain">
        <div class="service">400-100-5678</div>
        <div><p>周一至周日 9:00-18:00</p></div>
        <div class="manul-service">
            <i class="layui-icon layui-icon-dialogue"></i>  人工客服
        </div>
        <div>
            关注球索：
            <i class="layui-icon layui-icon-login-wechat"></i>
            <i class="layui-icon layui-icon-login-weibo"></i>
        </div>
    </div>
    <div class="fly-contain-split">
        <span></span>
    </div>
    <div class="fly-contain">
        <div style="font-size: 14px;margin:0px 0px 26px;">
            机构服务
        </div>
        <div style="font-size: 12px;">
            <p><a href="{:url('merchant/index/login')}">机构入驻</a></p>
            <p><a>机构认证</a></p>
            <p><a>机构招聘</a></p>
        </div>
    </div>
    <div class="fly-contain">
        <div style="font-size: 14px;margin:0px 0px 26px;">
            服务支持
        </div>
        <div style="font-size: 12px;">
            <p><a>售后政策</a></p>
            <p><a>自助服务</a></p>
            <p><a>相关下载</a></p>

        </div>
    </div>
    <div class="fly-contain">
        <div style="font-size: 14px;margin:0px 0px 26px;">
            关于球索
        </div>
        <div style="font-size: 12px;">
            <p><a>了解球索</a></p>
            <p><a>加入球索</a></p>
            <p><a>廉洁举报</a></p>

        </div>
    </div>
    <div class="fly-contain">
        <div style="font-size: 14px;margin:0px 0px 26px;">
            关注我们
        </div>
        <div style="font-size: 12px;">
            <p><a>官方微信</a></p>
            <p><a>新浪微博</a></p>
            <p><a>联系我们</a></p>

        </div>
    </div>
    <div class="fly-contain">
        <div style="font-size: 14px;margin:0px 0px 26px;">
            帮助中心
        </div>
        <div style="font-size: 12px;">
            <p><a>账户管理</a></p>
            <p><a>新浪微博</a></p>
            <p><a>联系我们</a></p>

        </div>
    </div>
    <div class="clear"></div>
<!--    <span >感谢以下平台提供云加速支持</span>-->
    <div class=""></div>
    <p style="display: block; margin: 20px 0px;">
        <span >感谢以下平台提供云加速支持</span>
    <p>
</div>


</div>