<!DOCTYPE html>
<head>

    <meta charset=utf-8>
    <title>球索科技</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="layui store,应用市场,模板市场,前端模板,UI模板">
    <meta name="description" content="layuiStore 是 layui 官方推出的应用市场，主要提供各类前端 UI 模板及其它基于 layui 的高级应用，平台不仅提供 layui 自营应用，还面向开发者自主发布自己的 layui 应用。">
    <link rel="stylesheet" href="__INDEXPATH__/lib/css/font.css">
    <link rel="stylesheet" href="__INDEXPATH__/lib/layui/css/layui.css">
    <link rel="stylesheet" href="__INDEXPATH__/lib/css/fly/global.css" charset="utf-8">
    <link rel="stylesheet" href="__INDEXPATH__/lib/css/global.css" charset="utf-8">
    <link rel="stylesheet" href="__INDEXPATH__/lib/css/fly/store.css" charset="utf-8"></head>

    <script src="__INDEXPATH__/lib/layui/layui.js"></script>


</head>