<!DOCTYPE html>
<html class="x-admin-sm">
{include file='public/header' /}
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite>
            </a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="search" name="search" value="{$data.username}"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" onclick="return false;"  lay-submit="" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>

                        </div>

                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()">
                        <i class="layui-icon"></i>批量删除
                    </button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','{:url(\'adminlist/adminadd\')}',550,420)">
                        <i class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                                    <b>全选</b>
                                </th>
                                <th><b>用户名</b></th>
                                <th><b>手机</b></th>
                                <th><b>角色</b></th>
                                <th><b>登陆时间</b></th>
                                <th><b>状态</b></th>
                                <th><b>操作</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name='data.adminlist' id='admin'}
                        <tr>
                            <td>
                                <input type="checkbox" name="id" value="{$i}"   lay-skin="primary">
                            </td>
                            <td id="username{$i}">{$admin.username}</td>
                            <td>{$admin.phonenum}</td>
                            <td>{$admin.admin_role.title}</td>
                            <td>{$admin.login_time}</td>
                            <td class="td-status">
                                {$admin.status==1?'<span class="layui-btn layui-btn-mini" >正常</span>':
                                '<span class="layui-btn layui-btn-disabled layui-btn-mini" >禁用</span>'}

                            </td>
                            <td class="td-manage">
                                <a onclick="member_stop(this, {$admin})" href="javascript:;"
                                   {$admin.status==0?'title="正常"':'title="禁用"'}>
                                    {$admin.status==1? '<i class="layui-icon">&#xe601;</i>':
                                    '<i class="layui-icon">&#xe62f;</i>'}

                                </a>
                                <a title="编辑"  onclick="xadmin.open('编辑','{:url(\'adminlist/adminedit\')}?username={$admin.username}',600,450)" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="删除" onclick="member_del(this, '{$admin.username}')" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page" id="pages">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['laydate','form', 'laypage'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        var laypage = layui.laypage;
        $ = layui.jquery;
        //$('#search').val('');
        // 监听全选
        form.on('checkbox(checkall)', function(data){
            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        //搜索用户名
        form.on('submit(sreach)', function(data){
            //
            findAdminBy(1);

            return false;
        });

        laypage.render({
            elem:'pages'
            ,limit:{$data.pagesize}
            ,count:{$data.count}
            ,curr:{$data.currpage}
            ,jump:function(obj, first) {
                if(!first){
                    //do something
                    findAdminBy(obj.curr);
                }
            }

        });

    });
    //更新账户状态及页面显示
    function findAdminBy(currPage)
    {
        var username = $.trim($('#search').val());
        var url = '{:url(\'adminlist/index\')}?page='+currPage;
        if ('' != username)
        {
            url += '&search=' + username;
        }
        window.location.href = url;
    }
    //更新账户状态及页面显示
    function admin_update(obj, admin, status)
    {
        $.post('{:url(\'adminlist/adminupdatestatus\')}',  //url
            {'username':admin.username, 'status': status}, //提交的数据
            function(res){
            if (res.code > 0)
            {
                layer.msg('系统更新失败，请稍后再试', {icon: 5, time: 1000});
            }
            else
            {
                if($(obj).attr('title')=='禁用'){
                    //发异步把用户状态进行更改
                    $(obj).attr('title', '正常')
                    $(obj).find('i').html('&#xe62f;');

                    $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('禁用');
                    layer.msg('账户已禁用!', {icon: 5, time: 1000});
                }else{
                    $(obj).attr('title', '禁用')
                    $(obj).find('i').html('&#xe601;');

                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('正常');
                    layer.msg('账户已正常!', {icon: 6, time: 1000});
                }
            }
        }, 'json');
    }

    /*正常-禁用*/
    function member_stop(obj, admin){
        var status = 0;
        var tips = '';

        //确认相关提示
        if ($(obj).attr('title')=='禁用') {

            tips = '确认要禁用吗？';
            status = 0;
        }
        else
        {
            tips = '确认要恢复吗？';
            status = 1;
        }

        //确认要修改账户状态
        layer.confirm(tips, function(index) {
            admin_update(obj, admin, status);
        });
    }

    function admindel(ids)
    {
        $.post('{:url(\'adminlist/admindel\')}', {'ids':JSON.stringify(ids)}, function(res){
            if (res.code > 0)
            {
                layer.alert(res.msg, {icon: 2});
            }
            else
            {
                layer.alert(res.msg, {icon: 6}, function() {
                    //关闭当前frame
                    //xadmin.close();
                    // 可以对父窗口进行刷新
                    //window.location.reload();
                    findAdminBy(1);
                });
            }
        }, 'json');
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){

            var ids = [];
            ids.push("'"+id+"'");
            admindel(ids);

            return false;
        });
    }

    function delAll (argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
                //ids.push("'"+$(this).username.val()+"'");
                var username = $('#username'+(index+1)).text();
                ids.push("'"+username+"'");
            }
        });

        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            admindel(ids);
            return false;
        });
    }
</script>
</html>