<div class="layui-header header header-store">
    <div class="layui-container">
        <a class="logo" href="https://www.layui.com/">
<!--            <img src="__MERCHANTPATH__/images/layui/qiusuo.png" alt="layui"></a>-->
            <span style="color: #FFF;font-size: 20px">球索养老 - 商家管理</span>
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="{:url('Index/')}">首页</a></li>
            <li class="layui-nav-item">
                <a href="">示例</a></li>
            <li class="layui-nav-item">
                <a href="">扩展</a></li>
            <li class="layui-nav-item">
                <a href="index.htm">模板</a>
            </li>
            <li class="layui-nav-item">
                <a href="" target="_blank">社区</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">周边</a>
                <dl class="layui-nav-child">
                    <dd class="layui-hide" lay-unselect>
                        <a href="index.htm">模板市场</a></dd>
                    <dd class="layui-hide-sm" lay-unselect>
                        <a href="">扩展组件</a></dd>
                    <dd class="layui-hide" lay-unselect>
                        <a href="https://fly.layui.com/" target="_blank">社区交流</a>
                        <hr>
                    </dd>
                    <dd lay-unselect>
                        <a href="https://www.layui.com/admin/" target="_blank">后台模板
                            <span class="layui-badge-dot"></span></a>
                    </dd>
                    <dd lay-unselect>
                        <a href="https://www.layui.com/layim/" target="_blank">即时聊天</a>
                        <hr></dd>
                    <dd lay-unselect>
                        <a href="https://www.layui.com/alone.html" target="_blank" lay-unselect>独立组件</a></dd>
                    <dd lay-unselect>
                        <a href="https://fly.layui.com/jie/24209/" target="_blank">Axure 组件</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="{:url('index/index/login')}"><i class="layui-icon layui-icon-user" style="font-size: 20px"></i></a>
            </li>
        </ul>
    </div>
</div>
